<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tiago_pro">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import tiago_pro urdf file -->
    <xacro:include filename="$(find tiago_pro_description)/robots/tiago_pro.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="tiago_pro.ros2_control.xacro" />


    <xacro:tiago_pro_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
